
.icon-search {
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-image: url(./../img/icon-topzone.webp);
    background-color: black;
    background-size: 514px 226px;
    background-position: -187px -11px;
}
.icon2 {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-image: url(./../img/icon-topzone.webp);
    background-color: black;
    background-size: 514px 226px;
    background-position: -116px -88px;
}
.icon3 {
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    background-image: url(./../img/icon-topzone.webp);
    background-color: black;
    background-size: 514px 226px;
    background-position: -237px -11px;
}
.icon4 {
    width: 105px;
    height: 40px;
    background-repeat: no-repeat;
    background-image: url(./../img/icon-topzone.webp);
    background-color: rgb(47, 139, 175);
    background-size: 514px 226px;

}
.icon5 {
    width: 20px;
    height: 25px;
    background-repeat: no-repeat;
    background-image: url(./../img/icon-topzone.webp);
    background-color: black;
    background-size: 514px 226px;
    background-position: -256px -124px; 
}
